page-strike-detail .button-bar {
    display: flex;
    justify-content: space-around;
}

page-strike-detail ion-card.card{
    border-radius: 5px;
}

page-strike-detail .button-bar a.button{
    width:100%;
    padding: 8px 0px;
}

page-strike-detail .button-bar a.button:nth-child(1){
    color: #8ee269;
    border:1px solid #8ee269;
    margin-right:-1px;
}

page-strike-detail .button-bar a.button:nth-child(2){
    color: #f0513c;
    border:1px solid #f0513c;
}

page-strike-detail .button-bar a.button:nth-child(3){
    color: #d183fd;
    border:1px solid #d183fd;
    margin-left:-1px;
}

ion-card .card-header{
    color: #666666 !important;
}